html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #fff;
}
#toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  left: -999em;
}
#toggle + label {
  display: block;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  right: 32em;
  bottom: 0;
  margin: auto;
  z-index: 1;
  padding: 0.125em;
  width: 6.5em;
  height: 3em;
  background-color: #e0e0e0;
  -webkit-border-radius: 3em;
  border-radius: 3em;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -ms-transition: background 0.4s;
  transition: background 0.4s;
}
@media (max-width: 40em) {
  #toggle + label {
    margin: 0;
    right: auto;
    bottom: 0;
  }
}
#toggle + label:before,
#toggle + label:after {
  display: block;
  position: absolute;
  content: "";
}
#toggle + label:before {
  top: 0.125em;
  left: 0.125em;
  bottom: 0.125em;
  right: 0.125em;
  background-color: #fff;
  -webkit-border-radius: 3em;
  border-radius: 3em;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  -ms-transition: background 0.4s;
  transition: background 0.4s;
}
#toggle + label:after {
  content: "2d";
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-indent: 0.05em;
  font-family: Futura, "Helvetica Neue", sans-serif;
  font-weight: 100;
  color: rgba(0,0,0,0.25);
  line-height: 2.75em;
  top: 0.25em;
  left: 0.25em;
  bottom: 0.25em;
  width: 3.25em;
  background-color: #e0e0e0;
  -webkit-border-radius: 3.25em;
  border-radius: 3.25em;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  -ms-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}
#toggle:checked + label {
  background-color: #8ce196;
}
#toggle:checked + label:after {
  content: "3d";
  margin-left: 3em;
  background-color: #8ce196;
}
.diagram {
  margin: 100px;
  font-size: 2em;
  font-family: Futura, "Helvetica Neue", sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  pointer-events: none;
}
@media (max-width: 40em) {
  .diagram {
    font-size: 1.5em;
  }
}
.diagram .block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  white-space: nowrap;
  width: 11.2125em;
  height: 2.3em;
}
.diagram .layer {
  position: absolute;
  padding: 0.5em 1em;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0);
  -moz-transform: translateY(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0);
  -o-transform: translateY(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0);
  -ms-transform: translateY(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0);
  transform: translateY(0) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(0);
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-box-shadow: inset 0 0 0 0.125rem rgba(0,0,0,0);
  box-shadow: inset 0 0 0 0.125rem rgba(0,0,0,0);
  -webkit-border-radius: 0.25em;
  border-radius: 0.25em;
}
.diagram .layer.background-color {
  background: #e0e0e0;
  color: transparent;
}
.diagram .layer.background-image span {
  color: transparent;
  background-image: -webkit-linear-gradient(#e0e0e0, #e0e0e0), -webkit-linear-gradient(#e0e0e0, #e0e0e0), -webkit-linear-gradient(#000, #000);
  background-image: -moz-linear-gradient(#e0e0e0, #e0e0e0), -moz-linear-gradient(#e0e0e0, #e0e0e0), -moz-linear-gradient(#000, #000);
  background-image: -o-linear-gradient(#e0e0e0, #e0e0e0), -o-linear-gradient(#e0e0e0, #e0e0e0), -o-linear-gradient(#000, #000);
  background-image: -ms-linear-gradient(#e0e0e0, #e0e0e0), -ms-linear-gradient(#e0e0e0, #e0e0e0), -ms-linear-gradient(#000, #000);
  background-image: linear-gradient(#e0e0e0, #e0e0e0), linear-gradient(#e0e0e0, #e0e0e0), linear-gradient(#000, #000);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 90%;
}
.diagram .layer.text-shadow {
  text-shadow: 0.03em 0 #e0e0e0, -0.03em 0 #e0e0e0, 0 0.03em #e0e0e0, 0 -0.03em #e0e0e0, 0.06em 0 #e0e0e0, -0.06em 0 #e0e0e0, 0.09em 0 #e0e0e0, -0.09em 0 #e0e0e0, 0.12em 0 #e0e0e0, -0.12em 0 #e0e0e0, 0.15em 0 #e0e0e0, -0.15em 0 #e0e0e0;
  color: transparent;
}
.diagram .layer.text {
  color: #000;
}
#toggle:checked ~ .diagram .layer {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  pointer-events: none;
  -webkit-box-shadow: inset 0 0 0 0.125rem rgba(0,0,0,0.1);
  box-shadow: inset 0 0 0 0.125rem rgba(0,0,0,0.1);
}
#toggle:checked ~ .diagram .layer:nth-child(4) {
  -webkit-transform: translateY(-3em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
  -moz-transform: translateY(-3em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
  -o-transform: translateY(-3em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
  -ms-transform: translateY(-3em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
  transform: translateY(-3em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
}
#toggle:checked ~ .diagram .layer:nth-child(3) {
  -webkit-transform: translateY(-1em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
  -moz-transform: translateY(-1em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
  -o-transform: translateY(-1em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
  -ms-transform: translateY(-1em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
  transform: translateY(-1em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
}
#toggle:checked ~ .diagram .layer:nth-child(2) {
  -webkit-transform: translateY(1em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
  -moz-transform: translateY(1em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
  -o-transform: translateY(1em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
  -ms-transform: translateY(1em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
  transform: translateY(1em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
}
#toggle:checked ~ .diagram .layer:nth-child(1) {
  -webkit-transform: translateY(3em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
  -moz-transform: translateY(3em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
  -o-transform: translateY(3em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
  -ms-transform: translateY(3em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
  transform: translateY(3em) rotateX(46deg) rotateY(20deg) rotateZ(-20deg) translateZ(0);
}
#toggle:checked ~ .diagram .layer.background-color {
  background: #8ce196;
}
#toggle:checked ~ .diagram .layer.background-image span {
  color: transparent;
  background-image: -webkit-linear-gradient(#8ce196, #8ce196), -webkit-linear-gradient(#8ce196, #8ce196), -webkit-linear-gradient(#000, #000);
  background-image: -moz-linear-gradient(#8ce196, #8ce196), -moz-linear-gradient(#8ce196, #8ce196), -moz-linear-gradient(#000, #000);
  background-image: -o-linear-gradient(#8ce196, #8ce196), -o-linear-gradient(#8ce196, #8ce196), -o-linear-gradient(#000, #000);
  background-image: -ms-linear-gradient(#8ce196, #8ce196), -ms-linear-gradient(#8ce196, #8ce196), -ms-linear-gradient(#000, #000);
  background-image: linear-gradient(#8ce196, #8ce196), linear-gradient(#8ce196, #8ce196), linear-gradient(#000, #000);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position: 0% 90%, 100% 90%, 0% 90%;
}
#toggle:checked ~ .diagram .layer.text-shadow {
  text-shadow: 0.03em 0 #8ce196, -0.03em 0 #8ce196, 0 0.03em #8ce196, 0 -0.03em #8ce196, 0.06em 0 #8ce196, -0.06em 0 #8ce196, 0.09em 0 #8ce196, -0.09em 0 #8ce196, 0.12em 0 #8ce196, -0.12em 0 #8ce196, 0.15em 0 #8ce196, -0.15em 0 #8ce196;
}
