doctype html
html
  head
    meta(charset="utf-8")
    title SmartUnderline
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(href="../css/demo.css" rel="stylesheet")

    script(src="../js/smart-underline.js")
    script.
      SmartUnderline.init({
        "location": ""
      })

  body
    header
      h1 <a href="https://github.com/EagerIO/SmartUnderline">SmartUnderlines</a>
      h2 View the project on <a href="https://github.com/EagerIO/SmartUnderline">GitHub</a>

    section.about
      h3 About

      p
        | SmartUnderline is an open-source JavaScript library which automatically adds
        | descender-aware underlines to links. It can be downloaded on
        | <a href="https://github.com/EagerIO/SmartUnderline">GitHub</a> or installed
        | for free on the <a href="https://eager.io">Eager App Store</a>.

    section.limitations
      h3 Notes

      p
        | While SmartUnderline works great on blogs and in other controlled-text enironments,
        | there are a few things you should be aware of when considering using SmartUnderline
        | on your website.

      ul
        li
          | It requires that the text be on top of a solid background color.
        li
          | It makes an assumption about selection color, which is OS- and browser-dependent.
        li
          | Each smart-underlined link has 12 text-shadows drawn underneath it, which could potentially have performance penalties on mobile or older devices.

      p
        | Read more about <a href="https://eager.io/blog">SmartUnderline on the Eager blog →</a>
