doctype html
html
  head
    meta(charset="utf-8")
    title SmartUnderline
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(href="../css/demo.css" rel="stylesheet")

    script(src="../js/smart-underline.js")
    script.
      SmartUnderline.init({
        "location": ""
      })

  body
    header
      h1 <a href="https://github.com/EagerIO/SmartUnderline">SmartUnderlines</a>
      h2 View the project on <a href="https://github.com/EagerIO/SmartUnderline">GitHub</a>

    section.about
      h3 About

      p
        | SmartUnderline is an open-source JavaScript library which automatically adds
        | descender-aware underlines to links. It can be downloaded on
        | <a href="https://github.com/EagerIO/SmartUnderline">GitHub</a> or installed
        | for free on the <a href="https://eager.io">Eager App Store</a>.

    section.limitations
      h3 Known limitations

      p
        | While SmartUnderline works great on blogs and in other controlled-text enironments,
        | it has performance considerations and limitations which prevent it from being
        | an all-purpose link styling option.

      ul
        li
          | It requires that the text be on top of a solid background color.
        li
          | It has performance considerations due to its heavy use of text-shadow.
        li
          | It makes an assumption about selection color, which is OS- and browser-dependent.

      p
        | Read more about <a href="https://eager.io/blog">SmartUnderline on the Eager blog →</a>
