doctype html
html
  head
    meta(charset="utf-8")
    title 3D Diagram - SmartUnderline - Eager
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(href="../css/diagram.css" rel="stylesheet")
    link(href="/images/favicon.ico" rel="icon" type="image/x-icon")

  body
    input(id="toggle" type="checkbox")
    label(for="toggle")

    script.
      if (location.hash === '#three-dee')
        toggle.setAttribute('checked', true)

    .diagram
      .block
        .layer.background-color
          span
            | Intriguing styles, eh?
        .layer.background-image
          span
            | Intriguing styles, eh?
        .layer.text-shadow
          span
            | Intriguing styles, eh?
        .layer.text
          span
            | Intriguing styles, eh?
