doctype html
html
  head
    meta(charset="utf-8")
    title 3D Diagram — SmartUnderline
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(href="../css/diagram.css" rel="stylesheet")

  body
    input(id="toggle" type="checkbox")
    label(for="toggle")

    .diagram
      .block
        .layer.background-color
          span
            | Intriguing styles, eh?
        .layer.background-image
          span
            | Intriguing styles, eh?
        .layer.text-shadow
          span
            | Intriguing styles, eh?
        .layer.text
          span
            | Intriguing styles, eh?
