@import nib

@import "ui/styl/colors"
@import "ui/styl/fonts"
@import "ui/styl/font-smoothing"

html
  antialiasedFonts()
  font-size 16px

a:focus
  outline thin dotted

body
  color #000
  width 36em
  max-width 100%
  padding 3em 1em
  box-sizing border-box
  margin-left auto
  margin-right auto
  font-family serifFonts

  @media (max-width 48em)
    padding 1em 1em

header
  text-align center

h1
  font-size 1.875em
  font-size 2.25em
  font-weight normal
  letter-spacing .01em
  text-indent @letter-spacing

  a

    &, &:visited
      color inherit
      text-decoration none

.share
  margin 1em auto
  font-size 0
  text-align center

  iframe
    display inline-block
    vertical-align middle
    background #eee
    border-radius 5px
    margin-left auto
    margin-right auto
    border 0
    height 2.3rem

    &:hover
      opacity 1

    &.github
      width 12rem
      margin-right 1rem

      @media (max-width 36em)
        width 100%
        margin-right 0
        margin-bottom .5rem

    &.twitter
      width 8.5rem

      @media (max-width 36em)
        width 100%

h2 a

  &, &:visited
    color inherit

h1 + h2
  font-size 1.1875em
  font-weight normal
  margin-top 0

h3
  text-align center
  font-size 1em
  font-family "Futura", sans-serif
  font-weight bold
  text-transform uppercase
  letter-spacing .25em
  text-indent @letter-spacing
  padding-top 3.75em
  margin 0 auto
  margin-bottom 1.5em

  @media (max-width 48em)
    font-weight normal

p
  margin 1em 0

  &.indented
    text-indent 1.5em

p, ul
  line-height 1.5em
  font-size 1.1875em

p.example-header
  margin-top 2.25em
  text-align center

p.example
  font-size 1.75em
  text-align center
  margin .666em 0

  @media (max-width 48em)
    font-size 1em
    margin 2em 0

  &.before-and-after
    clearfix()

    .before, .after
      display block
      width 50%
      box-sizing border-box

    .before, &.rtl .after
      float left
      text-align right
      padding-right 1em
      padding-left 0

    .after, &.rtl .before
      float right
      text-align left
      padding-left 1em
      padding-right 0

section
  margin 2em auto
  padding 1.5em
  border-radius .3125em

  h3
    padding-top .5em

  > *:first-child
    margin-top 0

  > *:last-child
    margin-bottom 0

  &.about
    background infoBackgroundColor
    color darken(infoColor, 25%)

    a
      color darken(infoColor, 50%)

  &.install
    text-align center

    a
      text-decoration none
      color inherit

      &:hover
        text-decoration underline

  &.diagram
    background transparent
    color #444
    box-shadow inset 0 0 0 2px gray

    iframe
      border 0
      height 24em
      width 100%

  &.before-and-after
    background successBackgroundColor
    color darken(successColor, 25%)

    a
      color darken(successColor, 50%)

  &.limitations
    background warnBackgroundColor
    color darken(warnColor, 25%)

    a
      color darken(warnColor, 50%)

footer
  text-align center

  a.eager
    color brandPink
